.inline-file-editor {
  z-index: 999;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0,0.8);
  display: none;
}
.inline-file-editor.open {
  display: block;
}
.inline-file-editor__inner {
  padding: 2em;
  position: relative;
  background-color: #fff;
  height: 100%;
  overflow: auto;
}
.inline-file-editor h2 {
  font-size: 0px;
  color: transparent;
  visibility: hidden;
}

.inline-file-editor__canvas,
.inline-file-editor__controls {
  width: 50%;
}
.inline-file-editor__canvas {
  position: relative;
  text-align: right;
}
.inline-file-editor canvas {
  max-width: 100%;
}
.inline-file-editor__canvas-overlay {
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  background-color: rgba(255, 255, 255 ,0.9);
  transition: opacity 0.3s;
}
.inline-file-editor__canvas-overlay.show {
  opacity: 1;
}
.inline-file-editor__content,
.inline-file-editor__settings {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.inline-file-editor__settings {
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-bottom: 1em;
}
.inline-file-editor__controls {
  padding: 0 2em;
}
.inline-file-editor .button-close {
  position: absolute;
  top: 0.2em;
  right: 0.2em;
  padding: 0.5em;
  border: none;
  background: none;
  font-family: sans-serif;
  font-size: 2.5em;
  line-height: 0.8;
}
.inline-file-editor .control-button,
.inline-file-editor__edit-button {
  border-radius: 0;
  background-color: transparent;
  border: 1px solid #dddddd;
  padding: 0.5em 1em;
  margin-right: 1em;
  margin-bottom: 1em;
  min-width: 8em;
  -webkit-transition: 0.2s all;
  -o-transition: 0.2s all;
  transition: 0.2s all;
}
.inline-file-editor .control-button.active {
  background-color: #efefef;
}
.inline-file-editor .control-button:hover,
.inline-file-editor .control-button:active {
  color: #f14c3f;
  border-color: #f14c3f;
}
.inline-file-editor .control-button--danger {
  border: 1px solid #f14c3f;
  color: #f14c3f;
}
.inline-file-editor .control-button--danger:hover,
.inline-file-editor .control-button--danger:active {
  background-color: #f14c3f;
  color: #fff;
}
.inline-file-editor .control-button--success {
  border: 1px solid #00b16a;
  color: #00b16a;
}
.inline-file-editor .control-button--success:hover,
.inline-file-editor .control-button--success:active {
  border: 1px solid #00b16a;
  background-color: #00b16a;
  color: #fff;
}
.inline-file-editor .control-input {
  -webkit-flex-basis: 50%;
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
}
.inline-file-editor .control-input input {
  width: 90%;
}
.inline-file-editor__img-parent {
  position: relative;
}
.inline-file-editor__edit-button {
  position: absolute;
  bottom: 20px;
  left: 15px;
  background-color: rgba(255,255,255,0.8);
  font-size: 16px;
  color: #5f5f5f;
}
.inline-file-editor__edit-button:hover {
  background-color: #fff;
  border-color: #afafaf;
  color: #3b3b3b;
}

/* Loading Spinner */
.inline-file-editor .spinner {
  margin: auto;
  width: 70px;
  text-align: center;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  position: relative;
}

.inline-file-editor .spinner > div {
  width: 18px;
  height: 18px;
  background-color: #666;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.inline-file-editor .spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.inline-file-editor .spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
  }
}

@keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@media (max-width: 1300px) {
  .inline-file-editor__inner {
    max-width: 90%;
  }
  .inline-file-editor__content {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .inline-file-editor__controls {
    padding: 2em 0;
  }
}

@media (max-width: 768px) and (max-height: 1024px) {
  .inline-file-editor__inner {
    top: auto;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }
}
