<div class="inline-file-editor">
    <div class="inline-file-editor__inner">
      <h2>Edit image</h2>
      <button id="close" class="button-close" title="close">x</button>
      <div class="inline-file-editor__content">
        <div class="inline-file-editor__canvas" id="canvas-container">
          <div class="inline-file-editor__canvas-overlay">
            <div class="spinner">
              <div class="bounce1"></div>
              <div class="bounce2"></div>
              <div class="bounce3"></div>
            </div>
          </div>
        </div>
        <div class="inline-file-editor__controls">
          <div class="inline-file-editor__settings">
            <div class="control-input">
              <label for="hue">Hue</label>
              <input id="hue" name="hue" type="range" min="0" max="100" step="1" value="0">
            </div>
            <div class="control-input">
              <label for="contrast">Contrast</label>
              <input id="contrast" name="contrast" type="range" min="-50" max="50" step="10" value="0">
            </div>
            <div class="control-input">
              <label for="vibrance">Vibrance</label>
              <input id="vibrance" name="vibrance" type="range" min="-100" max="100" step="1" value="0">
            </div>
            <div class="control-input">
              <label for="sepia">Sepia</label>
              <input id="sepia" name="sepia" type="range" min="0" max="100" step="1" value="0">
            </div>
          </div>
          <nav class="inline-file-editor__options">
            <button id="brightnessbtn" class="control-button brightnessbtn">Brightness</button>
            <button id="noisebtn" class="control-button noisebtn">Noise</button>
            <button id="sepiabtn" class="control-button sepiabtn">Sepia</button>
            <button id="contrastbtn" class="control-button contrastbtn">Contrast</button>
            <button id="colorbtn" class="control-button colorbtn">Colorize</button>
            <button id="vintagebtn" class="control-button vintagebtn">Vintage</button>
            <button id="lomobtn" class="control-button lomobtn">Lomo</button>
            <button id="embossbtn" class="control-button embossbtn">Emboss</button>
            <button id="tiltshiftbtn" class="control-button tiltshiftbtn">Tilt Shift</button>
            <button id="radialblurbtn" class="control-button radialblurbtn">Radial Blur</button>
            <button id="edgeenhancebtn" class="control-button edgeenhancebtn">Edge Enhance</button>
            <button id="posterizebtn" class="control-button posterizebtn">Posterize</button>
            <button id="claritybtn" class="control-button claritybtn">Clarity</button>
            <button id="orangepeelbtn" class="control-button orangepeelbtn">Orange Peel</button>
            <button id="sincitybtn" class="control-button sincitybtn">Sin City</button>
            <button id="sunrisebtn" class="control-button sunrisebtn">Sun Rise</button>
            <button id="crossprocessbtn" class="control-button crossprocessbtn">Cross Process</button>
            <button id="hazydaysbtn" class="control-button hazydaysbtn">Hazy</button>
            <button id="lovebtn" class="control-button lovebtn">Love</button>
            <button id="grungybtn" class="control-button grungybtn">Grungy</button>
            <button id="jarquesbtn" class="control-button jarquesbtn">Jarques</button>
            <button id="pinholebtn" class="control-button pinholebtn">Pin Hole</button>
            <button id="oldbootbtn" class="control-button oldbootbtn">Old Boot</button>
            <button id="glowingsunbtn" class="control-button glowingsunbtn">Glow Sun</button>
            <button id="hdrbtn" class="control-button hdrbtn">HDR Effect</button>
            <button id="oldpaperbtn" class="control-button oldpaperbtn">Old Paper</button>
            <button id="pleasantbtn" class="control-button pleasantbtn">Pleasant</button>
          </nav>

          <nav class="inline-file-editor__actions">
            <button id="resetbtn" class="control-button control-button--danger resetbtn">Reset Photo</button>
            <button id="savebtn" class="control-button control-button--success savebtn">Save Image</button>
          </nav>
        </div>
      </div>
    </div>
</div>